// Navigation code here

header {
    .header-style();

    h1 {
        
        font-size: 2.6rem;
    }

    nav {
        
        justify-content: space-evenly;
        // border: 1px solid black;
                // T   R    B  L//
        padding: 10px 0px 5px 0px;
    }

    a {
       padding: 10px;
      .nav-font();
    }
}